/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu Mono', monospace;
  background-color: #f9f9f9;
  color: #333;
}
#top {
  color: #ff6347;
  text-align: center;
  font-size: 46px;
}
#top1 {
  text-align: center;
  color: #222;
  font-size: 21px;
}
#navbar img {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-bottom: 3px;
}
#navbar {
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: 14vh;
  width: 100vw;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 15px;
}
#navcontent {
  display: flex;
  justify-content: center;
}
ul li {
  list-style: none;
  margin: 15px;
  border-radius: 20px;
}
ul li a {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 12px;
}
ul li a:hover {
  background-color: #ff6347;
  border-radius: 10px;
}
#container1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 63vh;
  background: url("backkground.avif") no-repeat center center/cover;
  border-bottom-left-radius: 100px;
  margin-bottom: 20px;
  opacity: 0.95;
}
#row1 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 35px;
}
.btn {
  margin-top: 15px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: yellow;
  font-size: 20px;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
  background-color: #ff6347;
  color: #fff;
}
#container3 {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  margin-top: 20px;
}
#row2, #row3 {
  width: 24vw;
  height: 21vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 40px;
  box-shadow: 2px 7px 16px 2px #f3c54466;
  background: #fff;
}
#top3 {
  text-align: center;
  color: #ff6347;
  margin-top: 25px;
  font-size: 30px;
}
#container4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  margin: 40px 0;
}
#row4, #row5, #row6 {
  height: 300px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #ffe7c3;
}
footer {
  text-align: center;
  padding: 15px 0;
  background: #eee;
  color: #ff6347;
  font-size: 18px;
}
/* Responsive Design */
@media only screen and (max-width: 1131px) {
  #row4, #row5, #row6 {
    width: 42vw;
    height: 220px;
  }
}
@media only screen and (max-width: 600px) {
  #container3 {
    flex-direction: column;
    width: 80vw;
  }
  #row2, #row3{
    width: 95vw;
    height: 140px;
  }
  #container4 {
    grid-template-columns: 1fr;
  }
  #row4, #row5, #row6 {
    height: 160px;
    width: 92vw;
  }
}
